<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-post</title>
    <link rel="stylesheet" href="/css/blog-post.css">
    </link>
</head>

<body>
    <div Class="bcontainer">
        <div class="head box">
            <h1>Blog Post Dot Com!</h1>
        </div>
        <div class="art box">
            <h2> Main Article 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique nulla lacus, aliquam pretium
                nibh bibendum eget. Morbi nec condimentum neque. Nulla facilisi. Suspendisse eget magna hendrerit,
                hendrerit eros ut, facilisis ipsum. <strong>Nam rutrum turpis ac dui ornare semper.</strong><img
                    src="https://i.etsystatic.com/13584639/c/427/339/34/29/il/9166fd/3678344170/il_340x270.3678344170_osjb.jpg"
                    alt="blog placeholder" width="50%">Sed ultrices fermentum quam, non finibus risus volutpat in. Nunc
                semper nibh orci, vel consectetur orci vulputate ullamcorper. Nunc finibus iaculis ligula, vel laoreet
                urna auctor a. Nunc dapibus, arcu molestie rhoncus vulputate, purus eros pharetra dolor, ac consectetur
                enim felis id augue. Phasellus in dui convallis, lacinia diam ut, pharetra erat. Nullam ut iaculis
                sapien. Aliquam ut volutpat ex. Fusce vehicula, diam eget egestas lacinia, massa lorem luctus magna, nec
                egestas arcu arcu eget nisl. Nulla facilisi. Maecenas vel facilisis ex. Nulla pharetra fringilla nisl at
                pretium.<br> <br>
                <em>Donec vitae dictum risus.</em> Donec at fermentum purus. In vitae convallis augue. Sed tempor
                laoreet dolor, quis laoreet nibh ornare et. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia curae; Mauris et iaculis sapien, quis condimentum ante. Morbi vulputate sem non
                quam bibendum, in cursus felis lacinia. Nullam varius ipsum risus, a luctus mi congue eget. Vestibulum
                sodales ornare purus, et congue nibh aliquam eu. <u>Integer sed elit non est vulputate pellentesque.
                    Quisque nibh nunc, dignissim eu feugiat vestibulum, lacinia eget quam. Pellentesque lectus dui,
                    tempus eu quam a, facilisis malesuada nibh.</u> Curabitur velit arcu, ullamcorper id tincidunt et,
                pharetra non tellus. Morbi scelerisque nisi libero, sit amet dapibus urna egestas et. Nullam fringilla
                ipsum quis lacus blandit consequat.
            </p>
        </div>
        <div class="ft box">
            <a href="main.html">
                <img src="/media/home logo.png" alt="Homepage" width=80px height="80px">
            </a>
            <a href="https://twitter.com/home">
                <img src="/media/twitter.png" alt="twitter" width=80px height="80px">
            </a>
            <a href="https://facebook.com/home">
                <img src="/media/fb logo.png" alt="facebook" width=50px height="80px">
            </a>
            <a href="https://github.com/home">
                <img src="/media/github.png" alt="github" width=100px height="100px">
            </a>
        </div>
    </div>
</body>

</html>