<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>old news</title>
    <link rel="stylesheet" href="/css/blog-post2.css"></link>
</head>
<body>
    <div Class="bcontainer">
        <div class="head box">
            <h1>Blog Post Dot Com!</h1>
        </div>
        <div class="cardbox">
        <div class="card">
            <h2> Old News, Mr. Panda! </h2>
            <p>
                <img src="https://stzkodgutyug2lxlnq2fc5g2eetuhxcqydort2m44u4y34wy.arweave.net/lP-KnDNSeKG0u62w0UXTaI_SdD3FDA3RnpnOU5jfLY0?ext=png" alt="Placeholder Panda" width="40%">
            </p> 
            <p>
                <ul>
                    <li>
                        Mr.Panda
                    </li>
                    <li>
                        A studio-engineer turned coder, Mr.Panda is was born in the UK but raised in NJ.
                    </li>
                    <li>
                        Born Someday
                    </li>
                </ul>
            </p>
            <div>
                <a href="./main.html" class="button"> press me</a>
            </div>   
        </div>
        </div>
        <div class="ft box">
            <a href="main.html">
                <img src="/media/home logo.png" alt="Homepage"width=80px height="80px" >
            </a>
            <a href="https://twitter.com/home">
                <img src="/media/twitter.png" alt="twitter"width=80px height="80px" >
            </a>
            <a href="https://facebook.com/home">
                <img src="/media/fb logo.png" alt="facebook"width=50px height="80px" >
            </a>
            <a href="https://github.com/home">
                <img src="/media/github.png" alt="github"width=100px height="100px" >
            </a>
        </div>
    </div>
</body>
</html>