<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confused</title>
        <meta name="description" content="A Blog Project from a Confused Novice Developer"/>
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
        <div class="container">
            <div class="head cbox">
                <h1>Blog Post Dot Com!</h1>
            </div>
            <div class="box sd">
                <div><h2><a href="blog-post.html">New News</a></h2></div>
                <div><h2><a href="blog-post2.html">Old News</a></h2></div>
            </div>
            <div class="m1 box">
                <h2>Main Article 1!</h2> 
                <p>
                    <img src="https://images.unsplash.com/photo-1500423079914-b65af272b8db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxMzQ0NTA3fHxlbnwwfHx8fA%3D%3D&w=1000&q=80" alt="Placeholder" width="40%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin est est, gravida quis orci in, fermentum malesuada augue. Nullam et neque id lectus aliquet suscipit a sed felis. Curabitur vehicula congue lacus vel blandit. Nam suscipit porta est venenatis condimentum.
                </p>
                

                
            </div>
            <div class="m2 box">
                <h2>Main Article 2!</h2> 
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin est est, gravida quis orci in, fermentum malesuada augue. Nullam et neque id lectus aliquet suscipit a sed felis. Curabitur vehicula congue lacus vel blandit. Nam suscipit porta est venenatis condimentum.
                </p>
            </div>  
            <div class="cur box">
                <h2>Current Event!</h2> 
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet id tellus eget dapibus. Donec fermentum varius interdum. Duis non tempus ante, convallis eleifend nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras consequat rhoncus blandit. Donec vel ultricies nisl. Sed ut nunc ac est vestibulum pharetra. In eu ligula tempor, elementum odio vitae, feugiat sem. Duis lacinia lectus sed erat luctus viverra.<img src="https://image.shutterstock.com/image-vector/placeholder-icon-vector-isolated-on-260nw-1144039568.jpg" alt="random placeholder" width="40%">  Vivamus tempor, mi ut tristique ullamcorper, libero erat suscipit mauris, eget dignissim erat augue ut sapien. Aenean fringilla lacus nunc, sit amet luctus quam cursus nec. In hac habitasse platea dictumst. Etiam et ex urna. Praesent et lorem gravida nunc lobortis facilisis ut aliquam ligula.<br>                   
                    Duis sed lectus et lacus laoreet vestibulum. Fusce nec odio ac purus mattis condimentum. Donec porttitor odio vel est lobortis pharetra. Donec ac vestibulum purus. Suspendisse potenti. Pellentesque vitae erat at libero cursus semper. Donec enim leo, vestibulum eget elit in, tempus aliquet nisl.<br>
                    Phasellus pulvinar lectus nec finibus iaculis. Integer nulla turpis, fringilla nec magna eu, ultricies pretium tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada imperdiet elit non cursus. Pellentesque aliquet, nibh quis cursus ultrices, nibh risus mollis ligula, vitae volutpat metus urna tristique dolor. Sed aliquet tellus et neque consectetur, quis ullamcorper neque dictum. Integer at consectetur nisl. Nullam sagittis ac felis eget ultrices. Phasellus facilisis dolor at mi commodo, et semper leo egestas. Donec varius, lorem ut sollicitudin feugiat, urna sapien egestas eros, in iaculis dui velit id risus. Sed sed eleifend augue. Suspendisse dictum fermentum molestie. Nunc risus tortor, rutrum vel ornare porttitor, dictum eu tellus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper dui ut leo pharetra, sit amet pretium urna laoreet. Phasellus tincidunt diam eu condimentum varius. Fusce suscipit tincidunt elit, ut iaculis metus maximus ac. Nulla leo massa, luctus vel mi eget, mollis consectetur orci. Vestibulum vel ultrices lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam laoreet et nisl ut aliquam. Aliquam erat volutpat. Fusce id purus augue. Praesent semper nulla vel enim blandit, id convallis nunc tincidunt. Etiam id dui tortor. Sed porta commodo magna, ut rutrum ex faucibus vel. Aliquam ultrices rutrum risus nec euismod. Integer placerat, risus et hendrerit consequat, orci est viverra urna, vel posuere sem quam in mi.<br>
                    Aliquam euismod augue ut ligula volutpat semper. Praesent commodo ante vel diam varius, a consequat felis consequat. Vivamus laoreet ex et ante lacinia hendrerit. In sit amet laoreet lorem. Aenean mollis massa eu leo hendrerit eleifend. Suspendisse varius sed arcu nec iaculis. Sed vel arcu ac magna accumsan pharetra. Ut ac enim id tellus viverra sagittis ac in est. Nunc augue lorem, volutpat id odio eu, vulputate gravida tellus. Etiam eget enim tempor, dapibus arcu eget, accumsan ante. Vestibulum a rhoncus magna.<br>
                    Vivamus vitae pellentesque ex, nec suscipit orci. Donec vulputate, quam in feugiat rhoncus, leo arcu lobortis velit, at sagittis felis enim ac sapien. Donec ornare, neque nec egestas gravida, orci dolor blandit turpis, ac ullamcorper tellus risus vel justo. Phasellus varius blandit mi sed faucibus. Suspendisse et tortor ultrices, convallis nisi nec, sodales elit. Nam vel enim dictum, porttitor felis vitae, convallis nunc. Donec rutrum ante lorem, pellentesque ultricies tellus consequat a. Praesent faucibus purus elit, egestas condimentum nisi finibus ac. Pellentesque eu congue dolor, nec consectetur orci. Curabitur semper, turpis vitae aliquet pharetra, dui ante pharetra dolor, quis vehicula sem mi vel justo. Suspendisse non scelerisque lorem. Etiam egestas vulputate vestibulum. Nulla facilisi.
                </p>
            </div>
            <div class="ft box">
                    <a href="main.html">
                        <img src="/media/home logo.png" alt="Homepage"width=80px height="80px" >
                    </a>
                    <a href="https://twitter.com/home">
                        <img src="/media/twitter.png" alt="twitter"width=80px height="80px" >
                    </a>
                    <a href="https://facebook.com/home">
                        <img src="/media/fb logo.png" alt="facebook"width=50px height="80px" >
                    </a>
                    <a href="https://github.com/home">
                        <img src="/media/github.png" alt="github"width=100px height="100px" >
                    </a>
            </div>
        </div>
    </body>
    <!-- TODO:
        draw sktech -done
        write html -doneish
            research media-querie -done
            start from small -> big -done 
        style with css -doneish
        optimize size -done
        
        upload to git IMMEDIATELY -done
        move nav bar-done
        make another page finishing udacity specs-done
        round edges and make nice-done
        format code
     -->
        
</html>